<!-- <div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-6">
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; yogi Furni Website 2025</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div> -->

<div class="body flex-grow-1 px-3"></div>
        <footer class="footer">
            <div>
                <a href="">Admin Panel </a>
                <a href="">Copyright &copy; & Design By : Yugandhar Suryawanshi </a> © 2025
            </div>
            <div class="ms-auto">Created For &nbsp;<a href=""> Furni Website</a></div>
        </footer>