<footer class="footer">
    <div class="container">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-9 text-center">
                    <a href="">Admin Panel </a>
                    <a href="">Copyright &copy; & Design By : Yugandhar Suryawanshi </a> © {{year}}
                </div>
                <div class="col-md-3 text-end">
                    <div class="ms-auto">Created For &nbsp;<a href=""> Furni Website</a></div>
                </div>
            </div>
        </div>
    </div>
</footer>